{% extends "base.html.twig" %}


{% block content_body %}
    <div class="container">

        {{ form_start(patientenForm) }}
        {{ form_widget(patientenForm)}}


        <button type="submit" class="btn btn-primary">Create</button>
        {{ form_end(patientenForm) }}
    </div>

{% endblock %}