{% extends 'base.html.twig' %}


{% block content_body %}

    <div class="container mt-5">
        <p>
            Goede website teksten bestaan uit drie belangrijke elementen: een unieke invalshoek, een overtuigend verhaal en een uitstekende SEO-optimalisatie. De unieke invalshoek volgt uit je eigen vakkennis of overtuiging, voor de twee overige elementen zijn slimme strategieën en handige tips beschikbaar. Het resultaat? Je schrijft belachelijke goede website teksten die nieuwsgierig maken, overtuigen en de vindbaarheid van je website drastisch verbeteren.

            Zoekmachine optimalisatie is gericht op oogsten, het is een strategie die je helpt nieuwe bezoekers aan te trekken die zoeken naar een generiek of specifiek onderwerp. Een goede optimalisatie verbetert de vindbaarheid, maar leidt pas tot aanklikken wanneer je een unieke invalshoek kiest die nieuwsgierig maakt. De conversie creëer je met content die overtuigt, bijvoorbeeld op basis van de Persuasion Equation van Gary Bencivenga.
        </p>
    </div>



{% endblock %}